/* organize everything to be on the same line spacing  */
/* changed the color for everything to black and white, since the blues color I added to the body background and the p element color almost the same blue*/
body {
  	margin: 0;
 	 font-family: Georgia;
	background-color: #000000;
}

header {
	height: 140px;
	background-color: #ffffff;
}

.logo {
 	 font-family: Georgia;
  	font-size: 65px;
  	color: #000000;
  	text-align: center;
  	margin: 0;
 	 padding: 20px 0 0 0;
}

.center {
 	 display: block;
 	 margin-left: auto;
 	 margin-right: auto;
 	 width: 50%;
}

header h2 {
	font-family: Georgia;
	color: #000000;
	margin: 0px;
	font-size: 20px;
	text-align: center;
}

footer {
	background-color: #ffffff;
}

section {
	padding: 0 25%;
 	 margin: 80px 0;
}

h1, h2, h3 {
  	font-family: Georgia;
  	color: #ffffff;
  	text-align: center;
  	font-size: 28px;
}

p, li {
 	font-family: Georgia;
 	margin-bottom: 0;
  	color: #ffffff;
}

a {
	font-weight: 700;
	text-decoration: none;
}

a:hover { color: #00FF00;}

a:visited{ 
	background-color: #FF5733; /* I want to add a background color to the link when the link is clicked */
	color: #FF00FF;}

footer p {
	color: #000000;	
	text-align: center;
	padding: 42px;
  	margin: 0;
}

.border-top {
  	padding-top: 80px;
 	 border-top: 2px solid #ffffff;
}
