body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-color: #FFB6C1;
}

header {
	height: 140px;
	background-color: #403933;
	background-image:url(images/backgrounds/subtle_brown_mini_waves.png);
}

.logo {
  font-family: 'Times New Roman', cursive;
  font-size: 80px;
  color: #c5c0b8;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: 'Times New Roman', serif;
	color: #e3e1dc;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color: #403933;
}

section {
	padding: 0 25%;
  margin: 80px 0;
}

/* -------  Type ------- */

h1, h2, h3 {
  font-family: 'Times New Roman', sans-serif;
	color: #403933;
  text-align: center;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Times New Roman', sans-serif;
 margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #38786a; }

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

.border-top {
  padding-top: 80px;
  border-top: 2px solid #403933;
}
